@use "../../partials/colors";
@use "../../partials/mixins";

.container {
  display: none;
  @include mixins.md-lg-screen {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: colors.$main-color;
    gap: 20px;
    text-decoration: none;
    padding: 20px;
  }
  @include mixins.sm-md-screen {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: colors.$main-color;
    gap: 20px;
    text-decoration: none;
    padding: 20px;
  }
  
}
.link {
  color: white;
  text-decoration: none;
}
