@use '../../partials/colors';
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    // margin-bottom: 30px;
    &span{
        line-height:14px;
    }
}

.products_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;

}
.btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color:colors.$main-color;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 5px;
}