@use '../../partials/colors';
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    height: 400px;
    width: 300px;
    text-decoration: none;
    color: black;
    gap: 10px;
    // border: 1px solid colors.$border-color;
    &_name{
        font-size: 12px;
    }
    &_price{
        font-weight: 500;
    }
}

.img{
    width: 90%;
}