@use "../../partials/colors";

.container {
    align-self: flex-start;
  width: 300px;
  background-color: white;
  padding: 24px 28px;
  border: 1px solid colors.$border-color;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.delivery_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid colors.$partition-color;;
}
.delivery {
  display: flex;
  gap: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  &_label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &_desc {
      color: colors.$font-secondary;
      font-size: 14px;
    }
  }
}
.title {
  color: colors.$font-main;
}

.summary_section{
    display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.summary{
    display: flex;
    justify-content: space-between;
    color: colors.$font-secondary;
    &_total{
        color: colors.$font-main;
    }
}

.btn{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #a386be;
    color: white;
    font-weight: 600;
}


