@use '../../partials/colors';
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: colors.$main-color;
}
.logo{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: larger;
    margin-left: 50px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 20px;
    // margin-right: 50px;
    &_link{
        
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        // font-weight: 400;
    }
}
.img{
    margin-right: 50px;
    
}

.cart{
        width: 30px;
    }